
@media (max-width:568px) {

    .content{
        margin-top: 16rem;
    }

    .heading {
        padding: 40px;
    }

    .heading h1 {
        padding-left: 10px;
    }

    .button {
        padding-left: 40px;
    }

    .service{
        margin-top: 10px;
    }

 
}